*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1: black;
    --color2: white;
    --color3:#d8d8d8;
    --color4: #22f233;
}



.wrapper {
    display: grid;
    width: 40%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 150px);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--color1);
    color: var(--color2);
    font-size: 1.5rem;
    font-family: 'Roboto Slab', serif;
    min-width: 100px;
}

.wrapper>div {
    border: 1px solid var(--color3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    padding-bottom: 21px;
    color: var(--color3);
    font-family: 'Onest', sans-serif;
}

.score {
    display: flex;
    gap: 29px;
}

.playerDetail {
    display: flex;
    gap: 10px;
    width: 40%;
}

button{
  padding: 8px 10px;
  font-family: 'Roboto Slab';
  font-size: 1.5rem;
}
input {
    padding: 5px 8px;
    width: 50%;
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
   
    .playerDetail {
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
    }

        .info {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        .wrapper {
            display: grid;
            width: 70%;
            grid-template-rows: repeat(3, 100px);
        }

        .score {
            flex-direction: column;
            gap: 1px;
        }

}