*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.wrapper {
    display: grid;
    width: 40%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 100px);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper>div {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    display: flex;
    gap: 29px;
}